PORT=6600
MONGODB_URI=mongodb://127.0.0.1:27017/?directConnection=true
DATABASE_NAME=lh_order_tiktok_helper
TIKTOK_APP_KEY=
TIKTOK_APP_SECRET=
TIKTOK_ACCESS_TOKEN=
TIKTOK_REFRESH_TOKEN=
TIKTOK_ACCESS_TOKEN_EXPIRE=
TIKTOK_REFRESH_TOKEN_EXPIRE=
TIKTOK_SHOP_CIPHER=
